.page-break {
    page-break-after: always;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
*{ font-family: DejaVu Sans; font-size: 11px;}
.row,
header,
.content{
    float: left;
    width: 960px;
    margin: 5px 20px;
}
.box-left {
    width: 480px;
    float: left;
}
.box-right {
    width: 480px;
    float: right;
    text-align: left;
}
.box-center {
    margin: 0 auto;
    width:225px;
}
.center-lign {
    text-align: center;
}
.main-wrap {
    width: 1000px;
    margin: 0 auto;
}
.in-logo img {
    width: 60px;padding: 20px 50px;
}
.in-logo {
    width: 20%;
    float: left;
}
.text-center {
    float: right;
    width: 80%;
    margin-top: 4%;
}
.text-center h2 {
    margin-left: 25%;
    font-size: 20px;
}
.align-left {
    float: left;
    width: 100%;
    background: #fff;
}
/*.in-order {*/
/*background: #dadada;*/
/*}*/
.box-right p {
    text-align: right;
}
label.bold {
    font-weight: bold;
}

.box-left span {
    width: 100px;
    float: left;
}

.box-right label {
    width: 107px;
}

.box-right span {
    float: right;
    margin-left: 15px;
}

.box-center span {
    width: 140px;
    float: left;
}
.row.footer-top {
    margin: 70px 0;
}